**/__pycache__
**/__pycache__/*
**/data
**/data/*

**/*creator_critic*results*.json
**/*creator_critic_results*.csv

**/*competitive_agents_results_*.json
**/*competitive_agents_results_*_similarity.csv
**/gamedev*.csv

**/*brainstorm*.json
**/*sift*.json